application: go-socialcounters
version: 6
runtime: go
api_version: go1

env_variables:
  ADS: ''
  WHITELIST: ''
  BLACKLIST: ''
  TTL_DEFAULT: 300
  TTL_COUNT_EQUALS_ZERO: 60
  TTL_NEEDS_REFRESH: 5
  FACEBOOK_APP_ID: ''
  FACEBOOK_APP_SECRET: ''

handlers:
- url: /.*
  script: _go_app

nobuild_files: (Godeps|services|utils|web|main.go)
