application: go-socialcounters
version: 4
runtime: go
api_version: go1

env_variables:
  ADS: ''
  WHITELIST: ''
  BLACKLIST: ''
  FACEBOOK_APP_ID: ''
  FACEBOOK_APP_SECRET: ''

handlers:
- url: /.*
  script: _go_app

nobuild_files: (Godeps|services|utils|web|main.go)
