.socialcounters {
	font-family: sans-serif;
	font-size: 12px;
}

.socialcounters a {
	text-decoration: none;
}

.sc-service {
	border: 1px solid transparent;
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
}

.sc-service:first-child {
	margin-left: 0;
}

.sc-service.sc-facebook {
	border-color: #3b579d;
	color: #3b579d;
}

.sc-service.sc-twitter {
	border-color: #55acee;
	color: #55acee;
}

/* logos */
.sc-service .sc-logo {
	border-right: 1px solid transparent;
	display: inline-block;
	height: 20px;
	vertical-align: top;
	width: 20px;
}

.sc-service.sc-facebook .sc-logo {
	border-right-color: #3b579d;
}

.sc-service.sc-twitter .sc-logo {
	border-right-color: #55acee;
}

.sc-service span.sc-logo {
	background-repeat: no-repeat;
	background-size: cover;
	color: transparent;
	line-height: 20px;
}

.sc-service.sc-facebook span.sc-logo {
	background-image: url("../img/facebook.png");
}

.sc-service.sc-twitter span.sc-logo {
	background-image: url("../img/twitter.png");
}

/* counts */
.sc-total-count {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: top;
}

.sc-service .sc-count {
	display: inline-block;
	line-height: 20px;
	margin: 0 5px;
	min-width: 20px;
	text-align: center;
	vertical-align: top;
}

/* hover effects */
.sc-service:hover .sc-logo {
	border-right-color: #fff;
}
.sc-service:hover .sc-svg > g,
.sc-service:hover .sc-svg > path {
	fill: #fff;
}

.sc-service.sc-facebook:hover {
	background-color: #3b579d;
	border-color: #fff;
	color: #fff;
}
.sc-service.sc-facebook:hover span.sc-logo {
	background-image: url("../img/facebook-white.png");
}

.sc-service.sc-twitter:hover {
	background-color: #55acee;
	border-color: #fff;
	color: #fff;
}
.sc-service.sc-twitter:hover span.sc-logo {
	background-image: url("../img/twitter-white.png");
}

/* ads */
.sc-ads {
	line-height: 22px;
	margin-left: 5px;
	opacity: 0;
}

.socialcounters:hover .sc-ads {
	opacity: 1.0;
}