runtime: go
api_version: go1.9

env_variables:
  ADS: ''
  WHITELIST: ''
  BLACKLIST: ''
  FACEBOOK_APP_ID: ''
  FACEBOOK_APP_SECRET: ''
  HISTORY_SAVE: 0
  TTL_MEMORY: 86400
  TTL_DEFAULT: 300
  TTL_RESTRICTED: 60
  REFRESH_TTL_LEFT_THRESHOLD: 10
  REFRESH_BATCH_SIZE: 20
  VERBOSE: 0

handlers:
- url: /.*
  script: _go_app

liveness_check:
  path: "/"

readiness_check:
  path: "/v2/js/data.json?url=https://facebook.com"
  timeout_sec: 10
